/* Start provisional CSS for institutional page */
    
        .provisional.bg-cover {
            background-size: cover;
        }

        .provisional.bg-right {
            background-position: right;
        }

        .provisional.pb-3 {
            padding-bottom: 15px;
        }

        .provisional.btn-call-to-action {
            font-size: 1em;
        }

        .provisional.gc-featured-lnk {
            background: #31708f;
            margin-bottom: 0em;
            padding-top: 20px;
            padding-bottom: 20px;
        }

        .provisional.gc-featured-lnk a {
            color: #fff
        }

        ul.feeds-cont li a {
            font-weight: bold;
        }

        .provisional.most-requested-bullets li {
            font-family: 'Lato', sans-serif;
            font-size: 17px;
            font-weight: 600;
            line-height: 26px;
            margin-top: 0
        }

        .provisional.most-requested-bullets .pddng-r-0 {
            padding-right: 0px;
        }

        .provisional.most-requested-bullets h2 {
            font-size: 1.2em;
        }

        .provisional.list-bld {
            font-weight: 600;
        }

        .provisional.followus h2 {
            font-size: 1.1em;
            margin-top: 10px;
        }

        .provisional.followus {
            padding: 0;
        }

        .provisional.followus h2 {
            display: block;
        }

        .provisional.followus h2,
        .provisional.followus ul {
            margin-left: 0;
        }

        .provisional.followus-vertical {
            line-height: 0em;
        }

        .provisional.followus-vertical,
        .provisional.followus {
            background-color: transparent;
        }

        .provisional.followus-vertical a {
            text-decoration: none;
        }

        .provisional.followus-vertical ul {
            display: block;
            list-style-type: none;
            margin-block-start: 1em;
            padding-inline-start: 1em;
            font-size: 16px;
            margin-block-end: 0em;
        }

        .provisional.followus-vertical ul li {
            margin-bottom: 15px;
        }

        .provisional.followus-vertical ul li:last-child {
            margin-bottom: 0px;
        }

        .provisional.followus-vertical ul li a {
            border: none;
            padding: 0px 5px;
        }

        .provisional.followus ul li a {
            border: none;
        }

        .provisional .social-lnk {
            position: relative;
            bottom: -18px;
            left: 45px;
        }

        .provisional.followus-vertical li {
            display: block;
            background-position: left;
        }

        .provisional.followus .facebook,
        .provisional.followus .twitter,
        .provisional.followus .youtube,
        .provisional.followus .instagram,
        .provisional.followus .linkedin {
            display: block;
            height: 38px;
            width: 38px;
        }

        /* remove this section if you do not want the new icons */
        .provisional.followus .facebook {
            background: url("https://design.canada.ca/images/social-media/facebook.png") 0 0 / cover no-repeat;
        }

        .provisional.followus .twitter {
            background: url("https://design.canada.ca/images/social-media/twitter.png") 0 0 / cover no-repeat;
        }

        .provisional.followus .youtube {
            background: url("https://design.canada.ca/images/social-media/youtube.png") 0 0 / cover no-repeat;
        }

        .provisional.followus .instagram {
            background: url("https://design.canada.ca/images/social-media/instagram.png") 0 0 / cover no-repeat;
        }

        .provisional.followus .linkedin {
            background: url("https://design.canada.ca/images/social-media/linkedin.png") 0 0 / cover no-repeat;
        }

        /* end of new social media icons */
        @media screen and (max-width: 767px) {
            .provisional.bg-hide-xs {
                background-image: url("none") !important;
            }

            .provisional.btn-call-to-action {
                font-size: .9em;
            }

            .provisional.xs-left {
                float: left !important;
            }
        }

        @media (min-width:768px) and (max-width:991px) {
            .provisional.bg-hide-sm {
                background-image: url("none") !important;
            }
        }
    
    /*  End provisional CSS for institutional page */

.bg-pn-np {
    /*Not used yet */
    background-color: #55833b;
}

.bg-hg {
    /* Rename to bg-heritage-green for more semantic? */
    background-color: #2b4635;
}
.hg {
    color:#2b4635
}
a.hg:hover, a.hg:focus, a.hg:visited:focus {
    color: #545454;
}

a.hg:visited {
    color:#2b4635
}
.bg-accent {
    background-color: #f8f8f8;
}

.bg-white {
    background-color: #ffff ;
}
.pc-h1-brass {
    /* Combine this with .pc-brdr-brass? */
    border-bottom-color: #ecb731;
    border-bottom-width: medium;
}

/* Pukaskwa mockup css */
.pc-brdr-brass {
    border-color: #ecb731;
}

.pc-brdr-grey {
    border-color: #d1d1d1;
}

.pc-brdr-bttm-md {
    border-bottom-width: 5px;
}

.sites-nearby-list h3, .sites-nearby-list p {
    margin-left: 15px;
    margin-right: 15px;
    /* Simulate mrgn-lft-md on sites nearby h3 and p */
}


/* Nearby site image hover effect */
.sites-nearby-list img:hover {
    filter: brightness(90%);
}

.sites-nearby-list img {
    transition: filter 500ms;
}

/* Feature tile image hover effect */
.pc-feature img:hover {
    filter: brightness(90%);
}

.pc-feature img {
    transition: filter 500ms;
}



.pc-footer {
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1em solid #ecb731 ;

}

.pc-footer :is(a, h2, h3, li, small) {
    color: #fff;
}


.pc-footer a:hover {
    color: white; /* Override default purple color */
}

.pc-footer a:not(:hover) {
    text-decoration: none; /* Overide default underline until hover */

}

/* 
.pc-footer h3 a:not(:hover) {
    text-decoration: none;
} */

.follow-social:hover{
    color: #31708f;
}
.pc-footer :is(h2, h3) {
    margin-bottom: 20px;
}

.pc-footer-list {
    padding-right: 25px;
}

.btn-footer {
    color: #2b4635!important;
    background-color: #fff;
    border-radius: 0px;
}
.btn-footer:hover {
    
    background-color: rgba(255, 255, 255, 0.616);
    
    animation-duration: 50ms;
}
.pc-logo {
    /* Extracted from .brand img (GoC signature) in theme.min.css */
    height: auto;
    max-height: 50px;
    /* GoC logo is max-height:40px, but 50px looked better to me - DM */
    margin-bottom: .375em;
}

/* End Pukaskwa mockup css */


/* Banner image */
.pc-banner:not([data-bgimg=""]) {
    padding-top: 5%;
    padding-bottom: 5%;
    color: white;
    background-blend-mode: multiply;
    background-color: gray;
}




.pc-banner p {
    max-width: 65ch;
}

/* 
#topcontent {
    
} */
.white-well {
    background-color: #fff;
}

/* 404 */
img.banner-404-image {
    filter: brightness(50%);
    width: 99vw;
    /* TODO: Decide how we want to handle >1920 screen widths. Currently, without the max-width below the img expands up and over the breadcrumb/top content */
    max-width: 1920px;
    max-height: 600px;
    background-color: #2b4635;
}

div.banner-404-text {
    position: absolute;
    left: 0%;
    top: 50%;
    transform: translate(0%, -50%);

}

div.banner-404-text h2 {
    max-width: 35ch;
}

div.banner-404-description {
    position: absolute;
    right: 0%;
    bottom: 0%;
}

div.banner-404-container {
    max-height: 660px;

    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

/* Reservation page */
.reservation-icon {
    width: 25px;
    margin-bottom: 5px;
}

.reservation-table th {
    width: 20%
}

.reservation-hide-md {
    display: none;
    visibility: hidden;
}

@media screen and (max-width: 991px) {
    .reservation-hide-md {
        display: block;
        visibility: visible;
    }
}

@media screen and (max-width: 991px) {
    .reservation-name {
        display: block !important;
    }
}

a[href^="mailto:"] {
    line-break: anywhere;
}

/* Heading colours based on Gabe's mockups */

/* h2, h3, h4, h5, h6 {
    color: #405849
} */
