.bg-pn-np {
    /*Not used yet */
    background-color: #55833b;
}

.bg-hg {
    /* Rename to bg-heritage-green for more semantic? */
    background-color: #2b4635;
}

.pc-h1-brass {
    /* Combine this with .pc-brdr-brass? */
    border-bottom-color: #ecb731;
    border-bottom-width: medium;
}

/* Pukaskwa mockup css */
.pc-brdr-brass {
    border-color: #ecb731;
}
.pc-brdr-grey {
    border-color: #d1d1d1;
}

.pc-brdr-md {
    border-width: 5px;
}
.sites-nearby-list h3, .sites-nearby-list p {
    margin-left:15px; 
    /* Simulate mrgn-lft-md on sites nearby h3 and p */
}

.pc-footer :is(a, h2, h3, li){
    color: #fff;
}

.pc-footer :is(h2, h3) a {
    text-decoration: none;
}

/* End Pukaskwa mockup css */


/* Banner image */
.pc-banner {
    padding-top: 5%;
    padding-bottom: 5%;
    color: white;
    background-blend-mode: multiply;
    background-color: gray;
}



.pc-banner p {
    width: 65ch;
}

#topcontent {
    background: #f8f8f8;
}
.white-well {
    background-color: #fff;
}
/* 404 */
img.banner-404-image {
    filter: brightness(50%);
    width: 99vw;
    /* TODO: Decide how we want to handle >1920 screen widths. Currently, without the max-width below the img expands up and over the breadcrumb/top content */
    max-width: 1920px;
    max-height:600px;
    background-color: #2b4635;
}

div.banner-404-text {
    position: absolute;
    left: 0%;
    top: 50%;
    transform: translate(0%, -50%);

}

div.banner-404-text h2 {
    max-width: 35ch;
}

div.banner-404-description {
    position: absolute;
    right: 0%;
    bottom: 0%;
}
div.banner-404-container {
    max-height: 660px;

    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

/* Reservation page */
.reservation-icon {
    width: 25px;
    margin-bottom: 5px;
}

.reservation-table th {
    width: 20%
}

.reservation-hide-md {
    display: none;
    visibility: hidden;
}

@media screen and (max-width: 991px) {
    .reservation-hide-md {
        display: block;
        visibility: visible;
    }
}

@media screen and (max-width: 991px) {
    .reservation-name {
        display: block !important;
    }
}
/* Heading colours based on Gabe's mockups */

/* h2, h3, h4, h5, h6 {
    color: #405849
} */