/* pc.css updated Feb 16 2026 */
/* START Indigenous languages */
/* Added 2025-12-04 */
:lang(iu) {
    font-family: 'Noto Sans Canadian Aboriginal';
}

:lang(iu) :is(h1, h2, h3, h4, h5, h6) {
    font-weight: bold;
}


/* Added 2022-11-16 */
.Pigiarniq {
    font-family: 'PigiarniqRegular'
}

@font-face {
    font-family: 'PigiarniqRegular';
    src: url("../fonts/pigiarniq_regular-webfont.eot");
    src: url("../fonts/pigiarniq_regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/pigiarniq_regular-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}

.Dene {
    font-family: 'Dene'
}

@font-face {
    font-family: 'Dene';
    src: url("../fonts/Wm32sor.eot");
    src: url("../fonts/Wm32sor.eot?#iefix") format("embedded-opentype"), url("../fonts/Wm32sor.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}

.Aboriginal {
    font-family: 'Aboriginal';
    font-size: 120%;
    line-height: 16px
}

@font-face {
    font-family: 'Aboriginal';
    src: url("../fonts/aboriginalsansregular.eot");
    src: url("../fonts/aboriginalsansregular.eot?#iefix") format("embedded-opentype"), url("../fonts/aboriginalsansregular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}

/* END Indigenous languages */
/* Calendar of events label fix */
/* Added May 2024 */
span.tag.bg-info {
    padding: 5px;
    margin-right: 10px;
}

/* END Calendar of events label fix */


/* START Brand colour variables and helper classes */
/* Added May 2024 */

:root {
    --spring: #c8d850;
    --fern: #9ec551;
    --npgreen: #54813a;
    --heritagegreen: #2b4635;
    --brass: #ecb731;
    --autumn: #d97a33;
    --nhsterracotta: #ad4c24;
    --brick: #66152d;
    --eggshell: #95cee4;
    --sky: #6abaec;
    --nmcablue: #1e71b8;
    --midnight: #253c6c;
    --flora: #b193c1;
    --lavender: #8965a7;
    --nupplum: #7f217f;
    --merlot: #63005d;
    --cobblestone: #9c9084;
    --cobblestone1: #b4aa9f;
    --cobblestone2: #cec7bc;
    --cobblestone3: #e7e1da;
    --fipred: #eb2d37;
    --black: #000000;
    --white: #ffffff;
}

.bg-pn-np {
    /*Not used yet */
    background-color: #55833b;
}

.bg-hg,
.bg-heritage-green {
    background-color: var(--heritagegreen);
}

.bg-accent {
    background-color: #f8f8f8;
}

.bg-white {
    background-color: #ffff;
}

.pc-h1-brass {
    /* Combine this with .pc-brdr-brass? */
    border-bottom-color: #ecb731;
    border-bottom-width: medium;
}

.pc-brdr-brass {
    border-color: #ecb731;
}

.pc-brdr-grey {
    border-color: #d1d1d1;
}

.pc-brdr-bttm-md {
    border-bottom-width: 5px;
}

/* END Brand colour variables and helper classes */

/* START Geomaps styling */
/* Added May 2024 */

.geomap-legend-symbol-text {
    line-height: 1;
}

.popup-content,
.tooltip-txt {
    line-height: 1.4;
}

.tooltip-txt {
    background: #fff;
    width: 160px;
    padding: 5px;
    transform: translateX(-20px)
}

.tooltip-txt:after {
    border-color: #fff transparent transparent transparent;
}

/* END Geomaps styling */

/* START Footer styling */

.pc-logo {
    height: 50px;
    max-height: 50px;
    margin-bottom: 0.375em;
}

.pc-footer {
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1em solid #ecb731;
}

.pc-footer :is(a, h2, h3, li, small) {
    color: #fff;
}

.pc-footer a:not(:hover) {
    text-decoration: none;
}

.pc-footer h2 a:not(:hover) {
    text-decoration: none;
}

.pc-footer h3 a:not(:hover) {
    text-decoration: none;
}

.pc-footer :is(h2, h3) {
    margin-bottom: 20px;
}

.pc-footer-list {
    padding-right: 25px;
}

.pc-footer li,
.pc-footer small,
.pc-footer p {
    margin-bottom: 1em;
    line-height: 1.1em;
}

.btn-footer {
    color: #2b4635 !important;
    background-color: #fff;
    border-radius: 0px;
}

.btn-footer:hover {
    background-color: rgba(255, 255, 255, 0.616);
    animation-duration: 50ms;
}

/* END Footer styling */

/*START Social widget links Style*/
.fa-facebook-square.black,
.fa-twitter-square.black,
.fa-youtube-square.black {
    color: #000000;
}

/*END Social widget links Style*/

/*START Alert Notification style*/
.alert {
    margin: 15px auto 15px 15px;
}

/*END Alert Notification style*/

/* START Custom Body Styles */

h1,
h1#wb-cont {
    border-bottom: 3px solid var(--brass);
    border-image: none;
}

/* END Custom Body Styles */

/* START Breadcrumb padding fix */

ol.breadcrumb {
    padding: 0 15px 0 15px !important;
}

/* END Breadcrumb padding fix */

/* START Banner Styles */

@media (min-width:992px) {
    .banner-image img {
        min-width: 992px;
        max-width: 100%;
    }
}

@media (max-width:991px) {
    .banner-image img {
        width: 100%;
    }
}

.banner-image img {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.pc-banner:not([data-bgimg=""]) {
    padding-top: 5%;
    padding-bottom: 5%;
    color: white;
    background-blend-mode: multiply;
    background-color: gray;
}

/* END Banner Styles */

/* START Img-responsive fix */
/* Added 2022-11-16 */
.img-responsive {
    display: inline-block;
}

/* END Img-responsive fix */

/* START thumbnail override */
.thumbnail {
    background: none;
}

/* END thumbnail override */

/*START Button style*/
.btn-call-to-action {
    color: #000 !important;
    background-color: var(--brass) !important;
    text-shadow: none;
    border: none;
}

.btn-call-to-action:active,
.btn-call-to-action.active {
    background-color: #d1a32d !important;
    border-color: #bbbfc5;
}

.btn-call-to-action:hover,
.btn-call-to-action:focus,
.btn-call-to-action.focus,
.btn-call-to-action:active,
.btn-call-to-action.active,
.open>.btn-call-to-action.dropdown-toggle {
    background-color: #ffcc66 !important;
}

.btn-call-to-action:hover {
    border: none;
}

.btn-primary {
    background-color: var(--heritagegreen) !important;
}

.btn-primary:active,
.btn-primary.active {
    background-color: #1b2c21 !important;
    border-color: #bbbfc5;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open>.btn-primary.dropdown-toggle {
    background-color: #4e6653 !important;
}

.btn-default {
    color: var(--heritagegreen) !important;
    background-color: var(--cobblestone3) !important;
}

figure.video .btn-default {
    color: #fff !important;
    background-color: transparent !important;
}

.btn-default:active,
.btn-default.active {
    background-color: #cac5c0 !important;
    border-color: #bbbfc5;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open>.btn-default.dropdown-toggle {
    background-color: var(--cobblestone2) !important;
}

/*END Button style*/

/* START icon list styling */

main>.well,
main>.well-sm {
    padding: 0;
}

div.icon-list {
    display: contents;
}

.facilities-and-services .park1-content {
    margin-left: -10px;
    margin-right: -10px;
    display: grid;
    grid-template-columns: 0 1fr 1fr 1fr 0;
    grid-column-gap: 10px;
    width: calc(100% + 20px);
}

div.icon-list img {
    background-color: black;
    width: 25px;
    margin-right: 10px;
    border-radius: 5px;
}

div.icon-list a img {
    background-color: #00609C
}


div.icon-list a {
    text-decoration: none;
}

div.icon-list a:hover div {
    background-color: #EAEBED;
}

div.icon-list a div {
    background-color: #FFFFFF;
    border: #DDDDDD 1px solid;
    border-radius: 4px;
}

div.icon-list div {
    width: 100%;
    padding: 10px;
    font-size: 17px;
    color: #555555;
    font-weight: bold;
    margin-bottom: 15px;
}

div.icon-list a:last-child div {
    margin-right: 0;
}

@media (max-width: 991px) {
    .facilities-and-services .park1-content {
        grid-template-columns: 1fr 1fr;
        width: 100%;
        margin-left: 0;
    }

    .icon-list:before,
    .icon-list:after {
        display: none;
    }
}

@media (max-width: 768px) {
    .facilities-and-services .park1-content {
        grid-template-columns: 1fr;
        grid-column-gap: 0;
        margin-left: 0;
        width: 100%;
    }
}

/* END icon list styling */

/*Feature set thumbnail style*/
.feature-set div .thumbnail {
    background: none;
}

/*START photo gallery Style*/
.lbx-gal ul[class*=colcount-] {
    padding-left: 0;
}

.lbx-gal ul[class*=colcount-] li {
    margin-left: 0;
}

/*END photo gallery Style*/

/*START location search Style*/
#locationSearch .mapLabel {
    font-size: 16px;
    line-height: 23px;
}

#locationSearch .legendLabel {
    padding-left: 15px;
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
}

#locationSearch .geomap-lgnd-layer div {
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
}

#siteNameSearch .form-group label {
    font-size: 16px;
    line-height: 23px;
}

#siteNameSearch .form-group #searchByName {
    width: 100%;
}

/*END location search Style*/


/*START This week history archive list*/
.history-search-wrapper ul {
    list-style: none !important;
}

.history-search-wrapper .image-block {
    width: 100%;
    height: 0;
    padding-top: 100%;
    margin-bottom: 20px
}

/*END This week history archive list*/

/*START This week history details*/
.history-date-stamp {
    font-size: 14px;
    color: #6c6c6c;
    display: block;
    margin-bottom: 10px
}

.history-content-top-wrapper .image-wrapper,
.history-content-bottom-wrapper .image-wrapper {
    margin-bottom: 10px
}

.history-content-top-wrapper .image-wrapper.pull-left,
.history-content-top-wrapper .image-wrapper.pull-right,
.history-content-bottom-wrapper .image-wrapper.pull-left,
.history-content-bottom-wrapper .image-wrapper.pull-right {
    width: 33.3%
}

.history-content-top-wrapper .image-wrapper figure img,
.history-content-bottom-wrapper .image-wrapper figure img {
    width: 100%
}

.history-content-top-wrapper .image-wrapper figure figcaption .copyright,
.history-content-bottom-wrapper .image-wrapper figure figcaption .copyright {
    display: block
}

.history-content-top-wrapper table,
.history-content-bottom-wrapper table {
    margin-bottom: 10px
}

.history-content-top-wrapper table tbody tr td img,
.history-content-bottom-wrapper table tbody tr td img {
    width: 100%
}

.history-content-top-wrapper table tbody tr:last-child,
.history-content-bottom-wrapper table tbody tr:last-child {
    font-size: 87%;
    line-height: 18px
}

.history-content-top-wrapper table tbody tr:last-child td .caption,
.history-content-top-wrapper table tbody tr:last-child td .copyright,
.history-content-bottom-wrapper table tbody tr:last-child td .caption,
.history-content-bottom-wrapper table tbody tr:last-child td .copyright {
    display: block
}

.history-content-top-wrapper table tbody tr:last-child td br,
.history-content-bottom-wrapper table tbody tr:last-child td br {
    display: none
}

.history-content-top-wrapper table[align="left"],
.history-content-bottom-wrapper table[align="left"] {
    margin-right: 15px
}

.history-content-top-wrapper table[align="right"],
.history-content-bottom-wrapper table[align="right"] {
    margin-left: 15px
}

.spacer {
    width: 0px;
    float: right
}

.history-content-top-wrapper .pull-left.image-wrapper,
.history-content-bottom-wrapper .pull-left.image-wrapper {
    padding-left: 0;
    padding-right: 15px;
    margin-right: 15px
}

.history-content-top-wrapper .pull-right.image-wrapper,
.history-content-bottom-wrapper .pull-right.image-wrapper {
    padding-right: 0;
    padding-left: 15px;
    margin-left: 15px
}

.history-content-top-wrapper .bottom-image {
    box-sizing: border-box;
    clear: right
}

/*END This week history details*/

/*START Calendar of events*/
ul.events-calendar-wrapper li {
    padding-bottom: 25px
}

/*END Calendar of events*/

/* START Nearby site & feature tiles */

.sites-nearby-list img:hover,
.pc-feature img:hover {
    filter: brightness(90%);
}

.sites-nearby-list img,
.pc-feature img {
    transition: filter 500ms;
}

.sites-nearby-list h3 a:not(:hover) {
    text-decoration: none;
}

/* END Nearby site & feature tiles */

/*START well - image placeholder*/

.well.well-placeholder {
    aspect-ratio: 640 / 360;
    display: flex;
    justify-content: center;
    align-items: center;

    & p {
        font-weight: 700;
        color: #6f6f6f;
        font-size: 87%;
    }
}

/*END well - image placeholder*/


/* START NEW LOCATION FINDER
Added January 20, 2026
====================================== */

#map {
    background-color: #eee;
}

#find-by-name {
    padding-left: 40px;
    margin-top: 7px;
    height: 43px;
    width: 100%;
}

#location-search .legendLabel {
    padding-left: 0;
    float: left;
    line-height: 60px;
    margin-right: 20px;
    font-size: 90%;
}

#location-search .geomap-lgnd-layer div {
    display: inline-block !important;
}

#location-results-container {
    max-width: 100%;
}

#location-results {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 468px;
    background: #fff;
    outline: 1px solid #ccc;
    background: #fafafa;
}

#location-results>p,
#no-results {
    color: #777;
    font-size: 80%;
    margin: 15px;
}

.location-result {
    font-size: 1.6rem;
    line-height: 1.6;
    border-right: 1px solid #eee;
    position: relative;
    cursor: pointer;
    transition: .2s;
    background: #fff;
}

.location-result.active {
    cursor: default;
}

.location-result summary {
    border: 0 !important;
    border-bottom: 1px solid #eee !important;
    border-radius: 0 !important;
    padding: 15px 30px 15px 40px !important;
    margin: 0 -18px 0 -17px;
    display: block !important;

}

details.location-result {
    margin-bottom: 0 !important;
}

details.location-result:not([open]) summary {
    border-right: 1px solid #eee !important;
}

.location-result summary:hover,
.location-result summary:active,
.location-result summary:focus {
    text-decoration: none;
    color: #295376;
}

.location-result[open] summary {
    margin-bottom: 1em;
}

.location-result,
.location-result[open] {
    border-radius: 0;
    border: 0;
    border-right: 1px solid #eee;
}

.location-result[open] {
    height: 100%;
}

.location-result summary:after {
    content: "+";
    font-weight: bold;
    width: 30px;
    height: 30px;
    font-size: 30px;
    line-height: 30px;
    display: inline-block;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    top: 10px;
    right: 10px;
    transition: .2s;
    text-align: center;
}

.location-result.active summary:after {
    transform: rotate(45deg);
}

.location-thumbnail {
    margin-bottom: 15px;
    width: 50%;
    padding-left: 15px;
    z-index: 99;
}

.location-result .label-default {
    border-left: 0;
    border-radius: 30px;
    padding: 8px 15px;
    font-weight: normal;
    color: #555;
    margin-right: 5px;
    display: inline-block;
    margin-bottom: 5px;
}

/* geomap styling */

#location_map .geomap-lgnd-layer {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-end;
    float: left;
    margin-right: 20px;
}

#location_map .geomap-legend-symbol {
    margin-right: 12px;
}

#location_map .wb-geomap-legend {
    float: left;
}

#location_map .wb-geomap-legend label {
    padding-left: 0;
    pointer-events: none;
}

#location_map .wb-geomap-legend input {
    display: none;
}

#location_map .location-result.active {
    display: block !important;
    background: transparent !important;
    border-bottom: 0;
}

/* province select */

#region-finder {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-bottom: 15px;
    margin-top: 5px;
}
#region-finder form, #region-finder button {
    grid-row-start: 2;
}
#region-finder label {
    grid-column-start: 1;
    grid-column-end: 3;
    margin-bottom: 0;
}

select#gm_province {
    margin-right: 10px;
    width: 100%;
}

form.wb-geomap-filter {
    margin-top: 7px;
}

.wb-geomap-filter select,
.wb-geomap-filter button {
    height: 43px !important;
}

/* location icons */
.location-result summary:before {
    content: " ";
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    top: 10px;
    left: 10px;
}

.location-result.nhs summary:before {
    background-image: url(https://parks.canada.ca/-/media/Images/Location-Search/lhnnhs-svg5-png);
}

.location-result.np summary:before {
    background-image: url(https://parks.canada.ca/-/media/Images/Location-Search/pnnp-svg5-png);
}

.location-result.nmca summary:before {
    background-image: url(https://parks.canada.ca/-/media/Images/Location-Search/amcnmca-svg4-png);
}

.location-result:not(.np, .nhs, .nmca) summary:before {
    background-image: url(https://parks.canada.ca/-/media/Images/Location-Search/autreother-svg5);
}

.result-text {
    border-radius: 3px;
    padding: 0px 10px;
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 48px;
    background-color: #eee;
    color: #777;
    transition: .2s;
}

#find-by-name.clear-search~.result-text {
    right: 55px;
}

.result-text.positive {
    background-color: #dff0d8;
    color: #3c763d;
}

.result-text.negative {
    background-color: #f2dede;
    color: #a94442;
}

#location-results,
#location-search .wb-geomap-map {
    height: 60vh!important;
}

#location-results {
    margin-right: -15px;
}

#location-search .wb-geomap-map {
    margin-left: -14px;
}

span#clear-search {
    font-weight: bold;
    position: absolute;
    right: 20px;
    top: 49px;
    cursor: pointer;
    width: 33px;
    height: 33px;
    z-index: 99;
    text-align: center;
    display: none;
    font-size: 24px;
}

#find-by-name.clear-search+span#clear-search {
    display: inline-block !important;
}

label[for="find-by-name"] {
    display: block;
}

/* search icon */
#location-name-search .glyphicon-search {
    position: absolute;
    top: 52px;
    padding-left: 12px;
    color: #999;
}

/* expand location list button */
#expand-location-list {
    display: none;
}

button#expand-location-list:after {
    content: "›";
    font-size: 30px;
    font-weight: bold;
    line-height: 0;
    transform: rotate(90deg);
    display: inline-block;
    margin-left: 5px;
    padding-left: 15px;
    background: #fff;
    width: 30px;
}

@media screen and (max-width: 992px) {
    #location-name-search .glyphicon-search {
        top: 47px !important;
    }

    .result-text {
        top: 0px;
        right: 16px;
        background: #e5e5e5;
    }

    #find-by-name.clear-search~.result-text {
        right: 16px;
    }

    .location-result {
        span {
            max-width: 65vw;
            display: inline-block !important;
        }
    }

    #location-results,
    #locationSearch .wb-geomap-map,
    #location-search .wb-geomap-map {
        margin-right: 0;
        margin-left: 0;
        height: 50vh!important;
    }

    #location-search .legendLabel {
        line-height: 20px;
    }

    #clear-search {
        top: 43px !important;
        font-size: 26px;
    }

    /* reorder map and region finder on a small screen */
    #map-container {
        display: grid;
        margin-top: 2px;
    }

    #region-finder {
        grid-row: 2;
        margin-top: 10px;
    }
    
}

@media screen and (max-width: 768px) {
    #location-finder-legend {
        margin-left: 15px;
        margin-right: 15px;
    }

    #expand-location-list {
        display: block;
        margin-bottom: 15px
    }

    #location-results {
        display: none;
    }

    #location-name-search .glyphicon-search {
        top: 46px !important;
    }

    #clear-search {
        top: 42px !important;
        right: 32px !important;
    }

    /* temp map container fix */
    
    #locationSearch {
        padding: 0!important;
        border: 0;
        margin-left: 0;
        width: 100%;
    }
    #locationSearch #location-results,
    #locationSearch #map-container {
        margin: 0 15px
    }
    
}

/* region finder mobile styling */

@media screen and (max-width: 600px) {

    #region-finder button {
        grid-row-start: 3;
        background: #fff;
        border: 1px solid #ddd;
        border-radius: 5px;
    }
    #region-finder button,
    #region-finder form {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    
}

/* temp map container inheritance fix */

.location-thumbnail img {
    box-shadow: none!important;
}

/* END NEW LOCATION FINDER
====================================== */